@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

:root{
    /*font family*/
    --font-dongle:'Dongle', sans-serif;

    /*font size*/
    --fs-18:18px;
    --fs-60:60px;

    /*colors*/
    --clr-orange:orange;
    --clr-palegoldenrod:palegoldenrod;
    --clr-pink:pink;

    /*font weight*/
    --fw-regular:400;
    --fw-bold:700;
    
    font-family: var(--font-dongle);
    font-weight: var(--fw-regular);

    /*animation time*/
    --time:3s;
}

h1{
    font-weight: var(--fw-bold);
    font-size: var(--fs-60);
}

p{
    font-size: var(--fs-18);
}

.w-60{
    width: 60%;
    padding: 20px; 
    margin: 20px 0;
    visibility: hidden;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        visibility: visible;
    }

    to {
        margin-left: 0%;
        visibility: visible;
    }
    /*La propiedad animation-fill-mode se establece en "forwards" para que la animación se detenga en el último estado después de que se complete.*/
}


.orange{
    background-color: var(--clr-orange);
    animation-duration: var(--time);
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.palegoldenrod{
    background-color: var(--clr-palegoldenrod);
    animation-delay: calc(var(--time));
    animation-duration:var(--time);
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.pink{
    background-color: var(--clr-pink);
    animation-delay: calc(var(--time)*2);
    animation-duration:var(--time);
    animation-name: slidein;
    animation-fill-mode: forwards;
}
